<!DOCTYPE html>
<html>
<head>
  <title>TinyFindsApp</title>
  <%= stylesheet_link_tag "reset", "styles", "application", "data-turbo-track": "reload", media: "all" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=ENV['GOOGLE_MAP_API_KEY']&callback=initMap" async defer></script>
</head>

<body>
  <%= include_gon %>
  <%= yield %>
</body>
</html>