<!DOCTYPE html>
<html>
<head>
  <title>TinyFindsApp</title>
  <%= stylesheet_link_tag "reset", "styles", "application", "data-turbo-track": "reload", media: "all" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
 <script>
    // グローバル変数にAPIキーを設定
    window.googleMapsApiKey = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
  </script>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= yield %>
</body>
</html>